@reference "tailwindcss";
:root {
    --glass-background-color: #2a41603a;
    --glass-outline-color: #3c638a57;
}

.glass-card {
    /* @apply bg-[var(--color-background-300)]/30; */
    /* --start-col: color-mix(in oklab, var(--color-background-200) 60%, transparent);
    --end-col: color-mix(in oklab, var(--color-background-200) 30%, transparent); */
    /* background: linear-gradient(150deg, var(--start-col) 100px, var(--end-col)); */
    
    /* background-color: color-mix(in oklab, var(--color-background-200) 20%, transparent); */
    background-color: var(--glass-background-color);
    /* outline-color: color-mix(in oklab, var(--color-background-50) 30%, transparent); */
    outline-color: var(--glass-outline-color);

    @apply outline md:outline-2;
    --tw-shadow-color: var(--color-background-500);
    @apply shadow-sm md:shadow-md;
}

.glass-filter {
    backdrop-filter: blur(25px);
    z-index: 15;
}

.card-3D {
    box-shadow: 0px 0px 30px 1px var(--color-background-500), inset 0px 2px 3px 1px var(--color-background-100), inset 0px -1px 4px 0px var(--color-primary-600);
}