@reference "tailwindcss";

.hover3D {
    @apply hover:inset-shadow-sm transition-shadow duration-75;
    --tw-inset-shadow-color: var(--color-background-100);
}

/* Main rise effects */
.hoverRise:hover {
    transform: translateY(-5px) rotate(1deg);
    scale: 103%;
    transition: transform 50ms ease-out;
}

/* Series of variants to make rotation look random */
.hoverRise:nth-of-type(2n):hover {
    transform: translateY(-5px) rotate(5deg);
}

.hoverRise:nth-of-type(3n):hover {
    transform: translateY(-5px) rotate(-2deg);
}

.hoverRise:nth-of-type(3n+1):hover {
    transform: translateY(-5px) rotate(-2deg);
}