.transition {
    /* un-hover transition time and style */
    transition: box-shadow 400ms, transform 200ms ease-in, scale 200ms;
}

.transition:hover {
    /* hover transition time and style */
    transition: box-shadow 100ms, transform 50ms ease-out, scale 50ms;
}

.hover3D {
    box-shadow: 0 0 transparent, inset 0 0 transparent, inset 0 0 transparent;
}

.hover3D:hover {
    /* @apply hover:inset-shadow-sm transition-shadow duration-75; */
    box-shadow: 0px 0px 30px 1px var(--color-background-500), inset 0px 2px 3px 1px var(--color-background-100), inset 0px -1px 4px 0px var(--color-primary-600);
    /* --tw-inset-shadow-color: var(--color-background-100); */
}

.hover3DDanger {
    box-shadow: 0px 0px 5px 1px var(--color-background-600), inset 0 0 transparent, inset 0 0 transparent;
}

.hover3DDanger:hover {
    /* @apply hover:inset-shadow-sm transition-shadow duration-75; */
    box-shadow: 0px 0px 5px 1px var(--color-background-600), inset 0px 2px 3px 1px var(--color-red-500), inset 0px -1px 3px 0px var(--color-background-400);
    /* --tw-inset-shadow-color: var(--color-background-100); */
}

.hover3DPrimary {
    box-shadow: 0px 0px 5px 1px var(--color-background-600), inset 0 0 transparent, inset 0 0 transparent;
}

.hover3DPrimary:hover {
    /* @apply hover:inset-shadow-sm transition-shadow duration-75; */
    box-shadow: 0px 0px 5px 1px var(--color-background-600), inset 0px 2px 3px 1px var(--color-primary-300), inset 0px -1px 4px 0px var(--color-background-300);
    /* --tw-inset-shadow-color: var(--color-background-100); */
}

/* Main rise effects */
.hoverRise {
    box-shadow: 0px 0px 10px 1px var(--color-background-700), inset 0 0 transparent, inset 0 0 transparent;
}

.hoverRise:hover {
    transform: translateY(-8px) rotate(1deg);
    scale: 103%;
    z-index: 20;
}

/* Series of variants to make rotation look random */
.hoverRise:nth-of-type(2n):hover {
    transform: translateY(-8px) rotate(5deg);
}

.hoverRise:nth-of-type(3n):hover {
    transform: translateY(-8px) rotate(-2deg);
}

.hoverRise:nth-of-type(3n+1):hover {
    transform: translateY(-8px) rotate(-3deg);
}