.row-full {
    display: grid;
    grid-template-columns: 2em 1fr;
    gap: calc(var(--spacing) * 3);
}

.row-details {
    display: grid;
    grid-template-columns: .3fr 3fr 2fr 0.25fr;
    gap: calc(var(--spacing) * 2);
}