@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-mont: "Montserrat", sans-serif;
  /* --color-bgCol: #e0ddcc; */
  --color-bgCol: #e7d9b9;
  --color-textPrimary: #0a0e16;
  --color-textSecondary: #f9fafb;
  --color-primary: #186e18;
  --color-secondary: #d8be86;
}

:root {
  @apply font-mont;
}

html, body, #root {
  height: 100%;
}

/* Dark theme variable overrides */
.dark {
  --color-bgCol: #111827;
  --color-textPrimary: #f9fafb;
  --color-textSecondary: #f9fafb;
  --color-primary: #186e18;
  --color-secondary: #1c2a49;
}